*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}
header{
    background-color: darkgrey;
    height: 11vw;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
header > h1{
    font-size: 9.5vw;
    font-weight: bold;
    height: fit-content;
    line-height: .8;
    text-transform: uppercase;
}
._o{
    color: greenyellow;
}
header > p{
    position: absolute;
    color: rgb(170, 255, 0);
    /* background-color: white; */
    display: inline;
    width: fit-content;
    height: auto;
    font-size: 2.75vw;
    line-height: .9;
    left: 13vw;
    bottom: .7vw;
}
.cont{
    padding: 0;
    margin: 0;
    height: 40vh ;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.online{
    width: 25vw;
    height: 90%;
    background-color: tomato;
}
.cir{
    width: 25vw;
    height: 90%;
    background-color: violet;
}
.fac{
    width: 25vw;
    height: 90%;
    background-color: yellow;
}
.revista{
    width: 25vw;
    height: 90%;
    background-color: turquoise;
}