*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}
header{
    background-color: #161925;
    height: 10vh;    
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
.contenedor{
    height: 83vh;    
}
aside{
    background-color: white;
    width: 20%;
    height: 100%;
    float: right;
    padding-top: 15%;
}
aside > .c_link{
    margin: auto;    
    width: 80%;
    height: 80%;
}
.c_link > a{
    display: block;
    font-size: 25px;
    color: teal;
    margin: 2px 0px;
    text-align: center;

}
section{    
    width: 80%;
    height: 100%;
    float: left;
    padding-top: 3%;
    background-color: #f1f1f1;
    overflow: hidden;
}
h3{
    font-size: 60px;    
    width: 90%;
    height: fit-content;
    margin: 10px auto;
}
.t_principal{
    font-size: 22px;
    width: 90%;
    height: fit-content;
    margin: 10px auto;
    text-align: justify;
}
.t_principal_1{
    font-size: 22px;
    width: 90%;
    height: fit-content;
    margin: 10px auto 0px auto;
    text-align: justify;
}
iframe{
    display: block;
    margin: 0px auto;
    height: 42%;
    position: relative;

}
footer{
    height: 7vh;
    background-color: #161925;
}
footer > p{
    display: inline-block;
    color: white;
    font-size: 30px;
    text-align: center;
    width: 90%;
    height: min-content;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5.1070775px;
    font-weight: 900;
}